apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mod-bot-set
spec:
  selector:
    matchLabels:
      app: mod-bot
  serviceName: "mod-bot"
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: mod-bot
    spec:
      containers:
        - name: mod-bot
          image: $(IMAGE)
          ports:
            - containerPort: 3000
          volumeMounts:
            - mountPath: "/data"
              name: mod-bot-pvc
          resources:
            requests:
              memory: "256Mi"
              cpu: "50m"
          startupProbe:
            httpGet:
              path: /healthcheck
              port: 3000
            failureThreshold: 30
            periodSeconds: 2
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: 3000
            initialDelaySeconds: 0
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 3000
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 2
          envFrom:
            - secretRef:
                name: modbot-env
          env:
            - name: ENVIRONMENT
              value: production

  volumeClaimTemplates:
    - metadata:
        name: mod-bot-pvc
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
        storageClassName: do-block-storage
