name: CD
concurrency:
  group: cd-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HUSKY: 0

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag Build
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}
          # Only tag with latest if we're on main
          tags: |
            type=ref,event=pr
            type=ref,event=branch
            type=sha
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          push: ${{github.ref == 'refs/heads/main' || github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/feature/actions'}}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deployment:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to branch
        uses: actions/checkout@v4

      - name: Tag Build
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha

      - name: Create build context for k8s deployment
        # There should only be 1 tag, so 'join' will just produce a simple string
        run: |
          touch k8s-context
          echo IMAGE=${{ join(steps.meta.outputs.tags, '') }} > k8s-context
          cat k8s-context

      - name: Set up kubectl
        uses: matootie/dokube@v1.4.1
        with:
          personalAccessToken: ${{ secrets.DIGITALOCEAN_TOKEN }}
          clusterName: k8s-rf

      - name: Deploy app
        run: |
          kubectl diff -k . || echo \n
          kubectl delete secret modbot-env || echo \n
          kubectl create secret generic modbot-env \
            --from-literal=SESSION_SECRET=${{ secrets.SESSION_SECRET }} \
            --from-literal=DISCORD_PUBLIC_KEY=${{ secrets.DISCORD_PUBLIC_KEY }} \
            --from-literal=DISCORD_APP_ID=${{ secrets.DISCORD_APP_ID }} \
            --from-literal=DISCORD_SECRET=${{ secrets.DISCORD_SECRET }} \
            --from-literal=DISCORD_HASH=${{ secrets.DISCORD_HASH }} \
            --from-literal=DISCORD_TEST_GUILD=${{ secrets.DISCORD_TEST_GUILD }} \
            --from-literal=SENTRY_INGEST=${{ secrets.SENTRY_INGEST }} \
            --from-literal=SENTRY_RELEASES=${{ secrets.SENTRY_RELEASES }} \
            --from-literal=STRIPE_SECRET_KEY=${{ secrets.STRIPE_SECRET_KEY }} \
            --from-literal=STRIPE_PUBLISHABLE_KEY=${{ secrets.STRIPE_PUBLISHABLE_KEY }} \
            --from-literal=VITE_PUBLIC_POSTHOG_KEY=${{ secrets.VITE_PUBLIC_POSTHOG_KEY }} \
            --from-literal=VITE_PUBLIC_POSTHOG_HOST=${{ secrets.VITE_PUBLIC_POSTHOG_HOST }} \
            --from-literal=DATABASE_URL=${{ secrets.DATABASE_URL }}
          kubectl apply -k .

      - name: Set Sentry release
        run: |
          curl ${{secrets.SENTRY_RELEASES}} \
            -X POST \
            -H 'Content-Type: application/json' \
            -d '{"version": "${{github.sha}}"}'
